/* Define um estilo básico para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilo para o contêiner principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Estilo para o título */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilo para os grupos de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilo para os rótulos dos campos */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada */
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo para o botão de envio */
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
